.github-icon {
  background-image: url("/src/assets/images/icons/github.svg");
}
.linkedin-icon {
  background-image: url("/src/assets/images/icons/linkedin.svg");
}

.tech-section:hover .tech-section-label::after {
  width: 100%;
}

.menu-modal {
  &[data-entering] {
    animation: modal-slide 300ms;
  }

  &[data-exiting] {
    animation: modal-slide 400ms reverse ease-in;
  }
}

@keyframes modal-slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
